--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.8.0
torchvision==0.23.0
torchao==0.13.0
accelerate==1.10.1
transformers==4.56.2
huggingface-hub==0.35.3
safetensors==0.6.2
git+https://github.com/huggingface/diffusers.git@main
gradio==5.49.1
pydantic==2.11.9
numpy==1.26.4
scipy==1.15.3
pillow==11.3.0
opencv-python-headless==4.11.0.86
imageio==2.37.0
imageio-ffmpeg==0.6.0
librosa==0.11.0
soundfile==0.13.1
matplotlib==3.10.6
